.datasecEven {
    background-color: #f9f9f9;
}

/*
.btn-primary, .btn-success, .btn-info, .btn-warning, .btn-danger {
	margin-bottom: 25px !important;
	margin-top: 25px !important;
}*/

.datepicker-group .glyphicon {
    color: #919191;
    z-index: 0;
}

@charset "utf-8";
/* CSS Document */

.ng-isolate-scope btn btn-default btn-sm {
    border: none;
}

.ng-isolate-scope btn-default {
    border: none;
}

/*.ng-isolate-scope   button  { 
border:none; 
background-color:#FFFFF; 
font-size: 12px; 
color:#525252; 
-webkit-border-radius: 0px;
-moz-border-radius: 0px;
border-radius: 0px; 
 }

.ng-isolate-scope table button .btn-default.active, .btn-default:active, .open > .btn-default.dropdown-toggle {
background-color:#4a90e2; 
color:#FFFFFF; 
  }

*/

/*.ng-isolate-scope button  .btn-default.active, .btn-default.focus, .btn-default:active, .btn-default:focus, .btn-default:hover, .open > .btn-default.dropdown-toggle { background-color:#0066D1; color:#FFFFFF;  }*/
.ng-isolate-scope th {
    background-color: #393c3e;
    color: #ffffff;
    font-weight: normal;
}

.ng-isolate-scope th button {
    background-color: #393c3e;
    color: #ffffff !important;
}


/*.ng-isolate-scope button  .btn-info.active, .btn-info.focus, .btn-info:active, .btn-info:focus, .btn-info:hover, .open > .btn-info.dropdown-toggle { background-color:#0066D1; color:#FFFFFF !important;  }*/

.grid {
    height: 350px;
}

/* The starting CSS styles for the enter animation */
.fade.ng-enter {
    transition: 0.5s linear all;
    opacity: 0;
}

/* The finishing CSS styles for the enter animation */
.fade.ng-enter.ng-enter-active {
    opacity: 1;
}

.dropdown-submenu {
    position: relative;
    min-width: 300px;
}

.dropdown-submenu > .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover > .dropdown-menu {
    display: block;
}

.dropdown-submenu > a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover > a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left > .dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}



/*
	background-color: white;
	background-image: url("../../img/conacyt.gif");
*/

.tornado-visor {
    display: none;
    z-index: 3001;
    position: fixed;
    top: 15%;
    width: 72%;
    height: 75%;
    overflow-x: auto;
    /* 	left: 10%; */
    /* 	width: 80%; */
    /* 	height: 75%; */
    background-color: black;
    border-radius: 20px;
}

.t-growl {
    z-index: 2002;
}

.no-rows {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.4);
}

.no-rows .msg {
    opacity: 1;
    position: absolute;
    top: 20%;
    left: 20%;
    width: 60%;
    height: 50%;
    line-height: 200%;
    background-color: #eee;
    border-radius: 4px;
    border: 1px solid #555;
    text-align: center;
    font-size: 24px;
    display: table;
}

.no-rows .msg span {
    display: table-cell;
    vertical-align: middle;
}

form.ng-dirty.ng-invalid {
    border: 0px !important
}

.ng-dirty.ng-invalid {
    border: 1px solid #D0021B;
}

.ui-grid-icon-down-dir:before {
    content: '\25bc';
}

.ui-grid-icon-up-dir:before {
    content: '\25b2';
}

.top-buffer-submenu {
    margin-top: 69px;
}