<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>aviso de privacidad</title>
</head>
<body>

<div class='ng-modal' ng-if='show'>
    <div class='ng-modal-overlay'></div>
    <div class='ng-modal-dialog' ng-if='show' ng-style='dialogStyle'>
        <!--<div class='ng-modal-close' ng-click='hideModal()'>X</div>-->
        <br class='ng-modal-dialog-content'>


        <div class="col-md-12">
            <img height="75" src="resources/logoDECIDETEconv.png" width="125">
            <h1>AVISO DE PRIVACIDAD SIMPLIFICADO </h1>
            <hr class="red">
        <br>
            <i class="fa fa-exclamation-triangle fa-3x fa-pull-left fa-border" aria-hidden="true"></i>
            <H3>En cumplimiento con lo previsto en la Ley General de Protección de Datos Personales en Posesión de Sujetos Obligados (LGPDPPSO) y de conformidad con los fines educativos establecidos en el aviso de privacidad integral del Centro de Investigación y Docencia Económicas, A.C. (CIDE), le informamos lo siguiente:
                I.	El CIDE es el responsable del uso y protección de los datos personales que le sean proporcionados por las personas físicas a quienes pertenezcan dichos datos (en lo sucesivo, el o la “Titular”).
                II.	Los datos personales recabados requieren el consentimiento pleno del o la Titular (o de su del padre, madre o tutor cuando se trate de menores de edad) y tienen como finalidad:
                •	Contactarlo/a para programar citas para atender, registrar y dar seguimiento a las dudas del registro al proceso de admisión a los programas del CIDE e invitarle a participar en eventos de promoción.
                •	Contactarlo/a para enviar información y dar seguimiento al avance en su inscripción al proceso de admisión.
                •	Focalizar campañas de promoción en escuelas de educación media superior.
                Los datos recabados consisten en: CURP, nacionalidad, teléfono, celular, correo electrónico, contacto de emergencia, código postal, escuela de procedencia, promedio, información de becas en el bachillerato, programa de interés, motivos para ingresar al CIDE. Fotografía del rostro, certificado de bachillerato o historial académico.
                III.	El CIDE, a través de la Oficina de Promoción, no compartirá por ningún concepto los datos personales excepto los establecidos en la LGPDPPSO.
                IV.	El ejercicio de los derechos de acceso, rectificación, cancelación u oposición al tratamiento de sus datos personales (derechos ARCO) podrá realizarse en la Unidad de Transparencia del CIDE o a través de la Plataforma Nacional de Transparencia.
                V.	El aviso de privacidad integral del CIDE es público y puede consultarse a través de la siguiente liga: https://www.cide.edu/politica-de-privacidad/
            </H3>
        <br><br>

            <hr class="red">
            <button class="ns_ form-control btn btn-primary fa fa-eye "  ng-click=save()>Aceptar</button>
        </div>
        </div>
    </div>
</div>


</body>
</html>